.timetable-body {
    height: 100%;
    width: 90%;
    float: left;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 5%;
}

.timetable-element {
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: outset;
    border-width: 2px;
    border-color: black;
    padding-right: 5px;
    width: 16.0%;
    margin-right: 0.66666%;
}

.timetable-header {
    margin-bottom: 10px;
}

.period-container {
    .timetable-element;
    // height: 17%;
}

.period:hover {
    cursor: pointer;
}

.empty-period {
    .period-container;
    background: rgba(128,128,128,0.8);
}

.period {
    .period-container;
}

.weekday {
    .timetable-element;
    background: rgba(180,180,180,0.8);
    // height: 10%;
    font-size: 200%;
}